@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

* {
  margin: 0;
  padding: 0;
}

/* Тіло */
body {
  width: 100%;
  background-color: #ffffff;
  color: #757575;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
}

/* Глобальне скидання стилів */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* Зображення */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Списки */
ul {
  list-style: none;
}

/* Лінки */
a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover, a:focus {
  color: #2196F3;
}

/* Приховані елементи */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Секції */
.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.section--without-padding-top {
  padding-top: 0;
}
.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #212121;
  margin: 0 auto 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    margin: 0 auto 50px;
  }
}

/* Контейнер */
.container {
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Підвал блок - адреса */
.address__item:not(:last-child) {
  margin-bottom: 12px;
}
.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address__link--map {
  color: #FFFFFF;
}
.address__link:hover, .address__link :focus {
  color: #2196F3;
}

.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

/* Кнопки */
.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  border: 0;
  margin: 0 auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188CE8;
}

/* Кнопка з фільтрів */
.button.secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: #212121;
  background-color: #F5F4FA;
  padding: 6px 22px;
}
.button.secondary:hover, .button.secondary:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Картка з портфоліо */
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
}
.card:hover, .card:focus {
  color: #2196F3;
}
.card:hover, .card:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__wrap {
  position: relative;
  overflow: hidden;
}
.card__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover .card__overlay, .card:focus .card__overlay {
  transform: translateY(0);
}
.card__caption {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: #FFFFFF;
}
.card__description {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}
.card__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: #212121;
  margin: 0 auto 4px;
}
.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: #757575;
  margin: 0;
}

/* Партнери */
.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  width: 170px;
  height: 92px;
}
.clients__item {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__icon {
  fill: currentColor;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border-color: #2196F3;
  outline: none;
}

/* Контакти */
.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
  }
}
.contacts__icon {
  fill: currentColor;
  align-items: center;
}
.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: inherit;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

/* Приклади робіт */
@media screen and (min-width: 768px) {
  .examples {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .examples__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .examples__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .examples__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .examples__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

/* Секція Переваги */
@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.features__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: uppercase;
  text-decoration: none;
  color: #212121;
  margin: 0 auto 10px;
}
@media screen and (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
}
.features__text {
  color: #757575;
  line-height: 1.71;
}

/* Фільтри з Портфоліо */
.filters {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}
.filters__btn {
  width: inherit;
  height: 38px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #212121;
  background-color: #F5F4FA;
  margin: 0 auto;
  padding: 6px 22px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
}
.filters__btn:hover, .filters__btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Підвал */
.footer {
  background-color: #2F303A;
  padding: 60px 0;
}
.footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer__caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__caption {
    text-align: start;
  }
}
@media screen and (max-width: 767px) {
  .footer__address-wrap, .footer__join-wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address-wrap {
    text-align: start;
  }
}

/*  *Форма модального вікна*  */
.form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}
.form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  margin-bottom: 4px;
}
.form__control {
  position: relative;
  margin-bottom: 10px;
}
.form__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border-color: #2196F3;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: #2196F3;
  border-color: #2196F3;
}
.form__comment {
  height: 120px;
  width: 100%;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment:hover, .form__comment:focus {
  fill: #2196F3;
  border-color: #2196F3;
}
.form__comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: rgba(117, 117, 117, 0.5);
}
.form__btn {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2196F3;
  margin: 0 auto;
  padding: 10px 32px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover, .form__btn:focus {
  background-color: #188CE8;
}

/* Чекбокс */
.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}
.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox__icon {
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #FFFFFF;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: #2196F3;
  border: none;
}
.checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }
}
.checkbox__link {
  color: #2196F3;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: none;
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

/* .checkbox-label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid var(--dark-bcg-color);
    border-radius: 2px;
}

.checkbox-label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid var(--dark-bcg-color);
    border-radius: 2px;
    background-image: url(..);
} */
/* Шапка */
.header {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 19px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Герой */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;
  background-color: #2F303A;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767px), screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img@2x.jpg);
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img@1x.jpg);
  }
}
@media screen and (min-width: 768px), screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-img@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-img@1x.jpg);
  }
}
@media screen and (min-width: 1200px), screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop-img@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop-img@1x.jpg);
    height: 600px;
    padding: 200px 0;
  }
}
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0 auto 30px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 696px;
  }
}
.hero__btn {
  width: 216px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2196F3;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
}

/* Лого */
.logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: start;
    text-transform: none;
    text-decoration: none;
  }
}
.logo--primary {
  color: #000000;
}
.logo--secondary {
  color: #FFFFFF;
}
.logo:hover, .logo:focus {
  color: #2196F3;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  background-color: #ffffff;
  padding: 48px 40px;
  transform: translateX(100%);
  z-index: 10;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: #ffffff;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: #2196F3;
}
.mobile-menu__list {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: #212121;
}
.mobile-menu__link--current {
  color: #2196F3;
}
.mobile-menu__contacts-list {
  margin-bottom: 64px;
}
.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__contacts-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: #757575;
}
.mobile-menu__contacts-phone:hover, .mobile-menu__contacts-phone:focus {
  color: #2196F3;
}
.mobile-menu__contacts-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: #757575;
}
.mobile-menu__contacts-email:hover, .mobile-menu__contacts-email:focus {
  color: #2196F3;
}
.mobile-menu__socials-list {
  display: flex;
  justify-content: start;
  align-items: center;
}
.mobile-menu__socials-item {
  padding: 0 10px;
}
.mobile-menu__socials-item:first-child {
  padding-left: 0;
}
.mobile-menu__socials-item:last-child {
  padding-right: 0;
}
.mobile-menu__socials-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: #2196F3;
}
@media screen and (max-width: 479px) {
  .mobile-menu__socials-link {
    font-size: 14px;
  }
}

/* Модальне вікно */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  max-width: 450px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 40px;
  overflow: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Кнопка закриття модального вікна */
}
@media screen and (min-width: 480px) {
  .modal {
    top: 30px;
    transform: translate(-50%, 30px) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    padding: 40px;
  }
}
.modal__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196F3;
}

/* Навігація */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 93px;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
.nav__btn {
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__btn:hover, .nav__btn:focus {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .nav__btn {
    display: none;
  }
}
.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
.nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: #212121;
  padding: 32px 0 32px;
}
@media screen and (min-width: 1200px) {
  .nav__link {
    padding: 32px 0 32px;
  }
}
.nav__link:hover, .nav__link:focus, .nav__link--current {
  color: #2196F3;
  outline: none;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

/* Соціальні мережі */
.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.social__link--footer {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}
.social__link:hover, .social__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  outline: none;
}

/* Секція Рішення */
@media screen and (max-width: 1200px) {
  .solutions {
    display: none;
  }
}
.solutions__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.solutions__item {
  position: relative;
  width: 370px;
}
.solutions__subtitle {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  white-space: nowrap;
}

/* Підвал блок - підписки */
@media screen and (min-width: 1200px) {
  .subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
.subscription-form__input {
  width: 100%;
  color: #FFFFFF;
  background-color: #2F303A;
  padding: 15px;
  margin: 0 auto 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .subscription-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
    margin: 0 auto;
  }
}
.subscription-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form__input:focus {
  color: #FFFFFF;
  border: 1px solid #2196F3;
  outline: none;
}
.subscription-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2196F3;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__btn:hover, .subscription-form__btn:focus {
  background-color: #188CE8;
}
.subscription-form__icon {
  fill: currentColor;
}

/* Секція Команда */
.team {
  background-color: #F5F4FA;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__description {
  padding: 30px 32px;
}
.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #212121;
  margin: 0 auto 10px;
}
.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #757575;
  margin-bottom: 16px;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}/*# sourceMappingURL=main.css.map */