/* Підвал блок - адреса */


.address {

    &__item:not(:last-child) {
        margin-bottom: 12px;
    }

    &__link {

        @include fontset($fw: 400, $fs: 14px, $lh: 1.71);
        color: getColor('footer-address');

        &--map {
            color: getColor('white-text');
        }
        
        &:hover, :focus {
            color: getColor('accent');
        }
    }
}