/* Партнери */

.clients {

    &__list {
        @include displayflex();
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        width: 170px;
        height: 92px;
    }

    &__item {
        height: 92px;
        flex-basis: calc((100% - 30px) / 2);

        @include for-tablet-landscape-up {
            flex-basis: calc((100% - 60px) / 3);
        }

        @include for-desktop-up {
            flex-basis: calc((100% - 150px) / 6);
        }
    }

    &__icon {
        fill: currentColor;
    }

    &__link {
        @include displayflex();
        width: 100%;
        height: 100%;
        border: 1px solid getColor('icon-current');
        border-radius: 4px;
        color: getColor('icon-current');
        // transition: color $timing-function,
        // border-color $timing-function;
            
        &:hover,
        &:focus {
            color: getColor('accent');
            border-color: getColor('accent');
            outline: none;
        }
    }
}
