/* Контейнер */

.container {
    padding: 0 15px;

    @include for-tablet-portrait-up {
        width: 480px;
        margin: 0 auto;
    }

    @include for-tablet-landscape-up{
        width: 768px;
    }

    @include for-desktop-up {
        width: 1200px;
    }
}