/* Секція Переваги */

.features {

    &__container {
        @include displayflex($justify-content: space-between);
    }
    
    &__list {
        @include displayflex($align-items: baseline);
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        width: 270px;
    }

    &__icon-box {
        @include displayflex();
        max-width: 270px;
        height: 120px;
        background-color: getColor('secondary-bcg');
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__subtitle {
        @include fontset($fs: 14px, $lh: 1.14, $ls: 0.03em, $transform: uppercase);
        color: getColor('title-text');
        margin: 0 auto 10px;
    }

    &__text {
        color: getColor('primary-text');
        line-height: 1.71;
        margin: 0;
    }
}
