/* Секція Переваги */

.features {

    &__list {
        @include for-tablet-landscape-up {
            @include displayflex($align-items: baseline);
                flex-wrap: wrap;
                gap: 30px;
        }
        
    }

    &__item {
        @include for-tablet-landscape-up {
            flex-basis: calc((100% - 30px) / 2);
        }
        
        @include for-desktop-up {
            flex-basis: calc((100% - 90px) / 4);
        }
        
        @include for-phone-to-767 {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    &__icon-box {
        @include displayflex();
        width: 100%;
        height: 120px;
        background-color: getColor('secondary-bcg');
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__subtitle {
        @include fontset($fs: 14px, $lh: 1.14, $ls: 0.03em, $transform: uppercase);
        color: getColor('title-text');
        margin: 0 auto 10px;

        @include for-phone-to-767 {
            text-align: center;
        }
    }

    &__text {
        color: getColor('primary-text');
        line-height: 1.71;
    }
}