/* Підвал */

.footer {
    background-color: getColor('dark-bcg');
    padding: 60px 0;

    &__container {
        text-align: center;

        @include for-tablet-landscape-up {
            @include displayflex($justify-content: space-around,
                $align-items: baseline);
                flex-wrap: wrap;
                row-gap: 60px;
        }

        @include for-desktop-up {
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }

    &__logo {
        display: inline-block;
        margin-bottom: 20px;
    }

    &__caption {
        @include fontset ($fs: 14px, $lh: 1.14, $align: center, $transform: uppercase);
        color: getColor('white-text');
        margin-bottom: 20px;

        @include for-desktop-up {
            text-align: start;
        }
    }

    &__address-wrap,
    &__join-wrap {
        @include for-phone-to-767 {
            margin-bottom: 60px;
        }
    }
}