/* Лого */

.logo {
    font-family: "raleway", sans-serif;
    @include fontset($fs: 24px);
    color: getColor('accent');

    @include for-desktop-up {
        @include fontset ($fs: 26px, $lh: 1.19);
    }

    &--primary {
            color: getColor('black-text');
        }

    &--secondary {
            color: getColor('white-text');
        }
    
    &:hover,
    &:focus {
            color: getColor('accent');
        }
}