/* Секції */

.section {
    padding: 60px 0;

    @include for-desktop-up {
    padding: 94px 0;
    }

    &--without-padding-top {
        padding-top: 0;
    }

    &__title {
        @include fontset($fs: 28px, $lh: 1.18, $align: center);
        color: getColor('title-text');
        margin: 0 auto 30px;

        @include for-desktop-up {
            @include fontset($fs: 36px, $align: center); 
            margin: 0 auto 50px;
        }
    }
}