/* Секція Рішення */

.solutions {

    @include for-tablet-to {
        display: none;
    }

    &__list {
        @include displayflex();
        flex-wrap: wrap;
        gap: 30px;
        
    }

    &__item {
        position: relative;
        width: 370px;
    }

    &__subtitle {
        position: absolute;
        width: 100%;
        height: 70px;
        bottom: 0;
        @include displayflex();
        @include fontset($fs: 14px, $lh: 1.14, $ls: 0.03em, $transform: uppercase);
        color: getColor('white-text');
        background-color: rgba(47, 48, 58, 0.8);
        white-space: nowrap;
    }
}